<section class="content" id="philosophy">
	<div class="container">
		<div class="home-philosophy">
			<h2>ABOUT</h2>

			<hr class="redline"/>

			<p>At Alphabit we believe in the transformative power of blockchain technology and decentralization. We are a crypto-asset advisory company who specialize in:</p>

			<ul>
				<li>
					<span>&#8594;</span>
					Actively trading cryptocurrency markets
				</li>
				<li>
					<span>&#8594;</span>
					Early stage investment into blockchain based start-ups
				</li>
				<li>
					<span>&#8594;</span>
					Token sale advisory services
				</li>
			</ul>

			<p>Founded in early 2017, our team is composed of professionals with backgrounds in financial services and the digital asset ecosystem. Our aim is to help our clients navigate the world of digital assets.</p>

			<p>Alphabit manages the Alphabit Fund for accredited investors. Please visit the ‘Invest’ section for more details.</p>

			<p>If you have a great project or want to inquire about other advisory services, then please get in touch using the <a href="{{ .Site.BaseURL }}invest">‘Contact’</a> section.</p>
		</div>
	</div>
</section>