<div class="investment-process">
	<div class="content">
		<div class="container">
			<h2>INVEST</h2>
			<hr class="redline"/>

			<p>The Alphabit fund is an open-ended cryptocurrency fund for accredited investors.   The fund has the objective to outperform a buy-and-hold strategy for Bitcoin.</p>
			<p>Our strategy deploys a combination of Manual trading (Long and Short), Algorithmic trading, and early investment into blockchain based start-ups for tokens and equity.</p>
			<p>If you feel you meet the requirements to invest in the fund we would love to hear from you.</p>
			<p>Please send an email to us and provide the following information:</p>
		
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdBW_rNz8k9QxSxvjGdr2DtDB60bG8rmj7i4BrBG1E8r_s3Jw/viewform?embedded=true" height="1654" frameborder="0" marginheight="0" marginwidth="0" style="width:100%;">Loading...</iframe>
		</div>
	</div>
</div>