<div class="alphabit-form">
	<form>
	
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="FIRST NAME">
	  </div>
	  
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="LAST NAME">
	  </div>
	  
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="EMAIL">
	  </div>
	  
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="CITY">
	  </div>
	  
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="COMPANY NAME">
	  </div>
	  
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="JOB TITLE">
	  </div>
	  
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="PHONE NUMBER">
	  </div>
	  
	  <div class="form-group">
		<select class="form-control">
		  <option>INVESTOR TYPE</option>
		  <option>Family Office</option>
		  <option>High Net-Worth Individual</option>
		  <option>Registered Investment Advisor</option>
		  <option>Fund of Funds</option>
		  <option>Pension Fund</option>
		  <option>Endowment</option>
		  <option>Other Institutional Investor</option>
		</select>
	  </div>
	  
	  <div class="form-group">
		<select class="form-control">
		  <option>INTICIPATED CAPITAL TO INVEST</option>
		  <option>$130-199K</option>
		  <option>$200-499K</option>
		  <option>$500-99K</option>
		  <option>$1M+</option>
		</select>
	  </div>
	
		<button type="submit" class="btn btn-primary mb-2">SUBMIT</button>
	</form>

</div>