<div class="investment-process">
	<div class="content container">
		<h2>INVESTMENTS</h2>
		<hr class="redline"/>

		<div class="panel-body">
			<div class="inner-content">
				<h3>PAST AND CURRENT INVESTMENTS</h3>

				<div class="swg-investments-logos">
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/archax.png" alt="Archax">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/cova.png" alt="Cova">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/cred.png" alt="Cred">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/ipowow.png" alt="Ipowow">
					</div>

					<div class="item">
						<img src="{{ .Site.BaseURL }}images/storecoin.png" alt="Storecoin">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/sunex.png" alt="Sunex">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/tap.png" alt="Tap">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/skycoin.jpg" alt="Skycoins">
					</div>

					<div class="item">
						<img src="{{ .Site.BaseURL }}images/metal.jpg" alt="Metal">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/nucleous-vision.jpg" alt="Nukleus">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/aelf.jpg" alt="Aelf">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/data.jpg" alt="Data">
					</div>

					<div class="item">
						<img src="{{ .Site.BaseURL }}images/videocoin.jpg" alt="Videocoin">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/republic-protocol.jpg" alt="Republic Protocol">
					</div>
					<div class="item">
						<img src="{{ .Site.BaseURL }}images/crowd-machine.jpg" alt="Crown Machine">
					</div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>