<div class="investment-process">
	<div class="content container">
		<h2>INVESTMENTS</h2>
		<hr class="redline"/>

		<div class="panel-body">
			<div class="inner-content">
				<h3>PAST AND CURRENT INVESTMENTS</h3>

				<div class="row align-items-center">
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/archax.png" class="img-fluid" alt="Archax">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/cova.png" class="img-fluid" alt="Cova">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/cred.png" class="img-fluid" alt="Cred">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/ipowow.png" class="img-fluid" alt="Ipowow">
					</div>

					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/storecoin.png" class="img-fluid" alt="Storecoin">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/sunex.png" class="img-fluid" alt="Sunex">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/tap.png" class="img-fluid" alt="Tap">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/skycoin.jpg" class="img-fluid" alt="Skycoins">
					</div>

					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/metal.jpg" class="img-fluid" alt="Metal">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/nucleous-vision.jpg" class="img-fluid" alt="Nukleus">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/aelf.jpg" class="img-fluid" alt="Aelf">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/data.jpg" class="img-fluid" alt="Data">
					</div>

					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/videocoin.jpg" class="img-fluid" alt="Videocoin">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/republic-protocol.jpg" class="img-fluid" alt="Republic Protocol">
					</div>
					<div class="col-sm-3">
						<img src="{{ .Site.BaseURL }}images/crowd-machine.jpg" class="img-fluid" alt="Crown Machine">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>