
	<footer id="main-footer">
		<div class="backtotop"><a href="#" title="Back to top"><span class="glyphicon glyphicon-menu-up"></span></a></div>
		<div class="inner-footer">
			
			<div class="footer-social">
				<p>CONNECT WITH US</p>
				<p><a href="{{ .Site.Params.social.facebook.url }}"><img src="{{ .Site.BaseURL }}images/social-fb.png" alt="Facebook"/></a> <a href="{{ .Site.Params.social.twitter.url }}"><img src="{{ .Site.BaseURL }}images/social-twitter.png" alt="Twitter"/></a> <a href="{{ .Site.Params.social.in.url }}"><img src="{{ .Site.BaseURL }}images/social-in.png" alt="Linkedin"/></a> </p>
				<p class="email">INFOR@ALPHABIT.FUND</p>
			</div>
			<div class="footer-bottom">
				<div class="footer-disclaimer">
					<a href="{{ .Site.BaseURL }}disclaimers/">DISCLAIMERS</a>
				</div>
				
				<div class="footer-info">
					<a href="{{ .Site.BaseURL }}additional-info/">ADDITIONAL INFO</a>
				</div>
			</div>
		</div>
	</footer>

</div>


	<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/flexslider.min.js"></script>
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/scripts.js"></script>
	<script>
		if(window.location.hash != ""){
			var target = window.location.hash,
			target = target.replace('#', '');

			// delete hash so the page won't scroll to it
			window.location.hash = "";

			// now whenever you are ready do whatever you want
			// (in this case I use jQuery to scroll to the tag after the page has loaded)
			$(window).on('load', function() {
				if (target) {
					$('html, body').animate({
						scrollTop: $("#" + target).offset().top - 140
					}, 700, 'swing', function () {});
				}
			});
		}
	
	
		$(window).load(function() {
		  $('.flexslider').flexslider({
			animation: "slide",
			animationLoop: true,
			itemWidth: 210,
			itemMargin: 10,
			minItems: 2,
			maxItems: 4,
			controlNav: false
		  });
		  
			
		});
		window.sr = ScrollReveal({duration: 1500,delay: 50});
		sr.reveal('.home-philosophy > *');
		sr.reveal('.home-howwedo > *');
		sr.reveal('.home-management');
		sr.reveal('.investment-process > *');
		sr.reveal('.home-members');
		
		$(document).ready(function(){
			$("body.home nav a").click(function(event){
				event.preventDefault();
				
				var pos = parseInt($(this.hash).offset().top);
				
				$('html,body').animate({scrollTop:pos-140}, 500);
				if($(window).width() < 768){
					$('.close-nav').click();
				}
				
			});
			
			
			
			$('.member-showInfo').click(function(e){
				t = $(this);
				e.preventDefault();
				
				$("#member-info").hide().fadeIn(200,function(){$('html,body').animate({scrollTop:parseInt($('#member-info').offset().top - 100)}, 500);});
				
				$('.member-info .info-picture').attr('src',$(this).find('img.img-circle').attr('src'));
				$('.member-info .info-name').html(t.data('name'));
				$('.member-info .info-position').html(t.data('position'));
				$('.member-info .info-email').html(t.data('email'));
				$('.member-info .info-mobile').html(t.data('mobile'));
				$('.member-info .info-office').html(t.data('office'));
				$('.member-info .info-about').html(t.data('about'));
			})
		})
		
		
	</script>
</body>
</html>