<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<title>{{ .Site.Title }} - {{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/flexslider.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
	
	<meta property="og:title" content="Alphabit Fund"/>
	<meta property="og:image" content="{{ .Site.BaseURL }}images/alphabit-fund-og.jpg"/>
	<meta property="og:site_name" content="Alphabit Fund"/>
	
	{{ partial "analyticstracking.html" . }}
</head>
<body>
<div class="wrap">
	<header id="main-header" class="clearfix">
		<div>
			<div class="topbar hidden-xs">
				<div class="clearfix">
					<div class="pull-left hidden-xs hidden-md">We outperform Bitcoin, and we do it with less risk</div>
					<!-- <div class="pull-right"><a class="top-callto" href="tel:{{ .Site.Params.phone }}">{{ .Site.Params.phone }}</a></div> -->
				</div>
			</div>
			<div class="logo-wrap">
				<div class="container text-center">
					<a href="{{ .Site.BaseURL }}"><img src="images/alphabit-logo.png" alt="" class="site-logo"/></a>
					
					<button type="button" class="navbar-toggle visible-xs visible-sm pull-left">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div>
			
			<nav class="main-nav">
				<div class="main-menu">
					<a class="close-nav" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a>
					<div class="container">
						<ul>
							<li><a href="{{ .Site.BaseURL }}#philosophy" class="scrollto">OUR PHILOSOPHY</a></li>
							<li><a href="{{ .Site.BaseURL }}#strategy" class="scrollto">THE STRATEGY</a></li>
							<li><a href="{{ .Site.BaseURL }}#members" class="scrollto">TEAM MEMBERS</a></li>
							<li><script type="text/javascript" language="javascript"> { e = "gdqp@s7iCsrg8.qVdb"; k = "t9yoXErUBOSFqlncvK8GDpHu5JhPjA27dYmaMLRiwVI0CN316ZbWksTQfge4xz"; shift = e.length; link = ""; for (i=0; i<e.length; i++) { if (k.indexOf(e.charAt(i))==-1) { ltr = e.charAt(i); link += (ltr); } else { ltr = (k.indexOf(e.charAt(i))-shift+k.length) % k.length; link += (k.charAt(ltr)) } }; document.write("<a href='mailto:"+link+"?Subject=Website%20inquiry&body=Dear%20Alphabit,\n'>GET IN TOUCH</a>") } </script> </li>
							<li class="mobile-only"><a href="{{ .Site.BaseURL }}disclaimers/" >DISCLAIMERS</a></li>
							<li class="mobile-only"><a href="{{ .Site.BaseURL }}risk-warning/">RISK WARNING</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
