<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<title>{{ .Site.Title }} - {{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/flexslider.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
	
	{{ partial "analyticstracking.html" . }}
</head>
<body>
<div class="wrap">
	<header id="main-header" class="clearfix">
		<div>
			<div class="topbar">
				<div class="container clearfix">
					<div class="pull-left hidden-xs">We outperform Bitcoin, and we do it with less risk</div>
					<div class="pull-right"><a class="top-callto" href="tel:{{ .Site.Params.phone }}">{{ .Site.Params.phone }}</a></div>
				</div>
			</div>
			<div class="logo-wrap">
				<div class="container text-center">
					<a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/alphabit-logo.png" alt="" class="site-logo"/></a>
					
					<button type="button" class="navbar-toggle visible-xs pull-left">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div>
			
			<nav class="main-nav">
				<div class="main-menu">
					<a class="close-nav" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a>
					<div class="container">
						<ul>
							<li><a href="{{ .Site.BaseURL }}#philosophy" class="scrollto">OUR PHILOSOPHY</a></li>
							<li><a href="{{ .Site.BaseURL }}#strategy" class="scrollto">THE STRATEGY</a></li>
							<li><a href="{{ .Site.BaseURL }}#members" class="scrollto">TEAM MEMBERS</a></li>
							<li><a href="mailto:info@alphabit.fund">GET IN TOUCH</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
