<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{ if ( eq .Title "Alphabit Fund Website" ) }}
		<title>Alphabit Fund | Digital Asset Management</title>
		<meta name="description" content="Alphabit Fund is a crypto-asset investment company who specialise in actively trading cryptocurrency markets.">
		<meta name="keywords" content="Alphabit Fund, alphabit limited, digital currency, cryptocurrency, Bitcoin, Investment strategy, blockchain, currency investors">
	{{ else }}
		<title>{{ .Title }}</title>
		<meta name="description" content="{{ .Description }}">
		<meta name="keywords" content="{{ .Keywords }}">
	{{ end }}
  
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/flexslider.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
	
	<meta property="og:title" content="Alphabit Fund"/>
	<meta property="og:image" content="{{ .Site.BaseURL }}images/alphabit-fund-og.jpg"/>
	<meta property="og:site_name" content="Alphabit Fund"/>
	
	{{ partial "analyticstracking.html" . }}
</head>
<body>
<div class="wrap">
	<header id="main-header" class="clearfix">
		<div>
			<div class="topbar hidden-xs">
				<div class="clearfix">
					<div class="pull-left hidden-xs hidden-md">Digital Asset Management</div>
					<!-- <div class="pull-right"><a class="top-callto" href="tel:{{ .Site.Params.phone }}">{{ .Site.Params.phone }}</a></div> -->
				</div>
			</div>

			{{ if and ( ne .Title "Alphabit Fund Website" ) ( ne .Title "Transformative Power of Blockchain and Decentralization | Alphabit Fund" ) }}
				<div class="swg-logo">
					<a href="{{ .Site.BaseURL }}">
						<img src="{{ .Site.BaseURL }}images/alphabit-logo.png" alt="" class="site-logo"/>
					</a>		
				</div>
			{{ end }}

			<div class="logo-wrap">
				<div class="container text-center">
					<a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/alphabit-logo.png" alt="" class="site-logo"/></a>					
					
					<button type="button" class="navbar-toggle visible-xs visible-sm pull-left">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div>
			
			<nav class="main-nav">
				<div class="main-menu">
					<a class="close-nav" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a>
					<div class="container">
						<ul>
							<li><a href="{{ .Site.BaseURL }}about" class="scrollto">ABOUT</a></li>
							<li><a href="{{ .Site.BaseURL }}team" class="scrollto">TEAM</a></li>
							<li><a href="{{ .Site.BaseURL }}investments" class="scrollto">INVESTMENTS</a></li>
							<li><script type="text/javascript" language="javascript"> { e = "gdqp@s7iCsrg8.qVdb"; k = "t9yoXErUBOSFqlncvK8GDpHu5JhPjA27dYmaMLRiwVI0CN316ZbWksTQfge4xz"; shift = e.length; link = ""; for (i=0; i<e.length; i++) { if (k.indexOf(e.charAt(i))==-1) { ltr = e.charAt(i); link += (ltr); } else { ltr = (k.indexOf(e.charAt(i))-shift+k.length) % k.length; link += (k.charAt(ltr)) } }; document.write("<a href='mailto:"+link+"?Subject=Website%20inquiry&body=Dear%20Alphabit,\n'>CONTACT</a>") } </script> </li>
							<li><a href="{{ .Site.BaseURL }}invest" class="scrollto">INVEST</a></li>
							<li class="mobile-only"><a href="{{ .Site.BaseURL }}disclaimers/" >DISCLAIMERS</a></li>
							<li class="mobile-only"><a href="{{ .Site.BaseURL }}risk-warning/">RISK WARNING</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>