	<div class="main-content">
		<section class="main-banner">
			 <video autoplay playsinline muted poster="{{ .Site.BaseURL }}images/AlphaBitVideo-v3.png"> <!-- src="{{ .Site.BaseURL }}videos/AlphaBitVideo-V2.mp4" -->
				<!-- <source src="{{ .Site.BaseURL }}videos/AlphaBitVideo-V2.ogv" type='video/ogg; codecs="theora, vorbis"'/>
				<source src="{{ .Site.BaseURL }}videos/AlphaBitVideo-V2.webm" type='video/webm' > -->
				<source src="{{ .Site.BaseURL }}videos/AlphaBitVideo-v3.mp4" type='video/mp4'>
				Your browser does not support the video tag.
			</video> 
		</section>			
	</div>
	
	
	<script>
		document.body.classList.add("home");
	</script>
