
	<div class="main-content">

			<section class="main-banner">
				 <video autoplay loop muted>
				  <source src="videos/AlphabitAnimation-tiny.mp4" type="video/mp4">
				Your browser does not support the video tag.
				</video> 
			</section>
			
			<section class="content" id="philosophy">
				<div class="container">
					<div class="home-philosophy">
						<h2>ALPHABIT PHILOSOPHY</h2>
						<hr class="redline"/>
						<p>At Alphabit, we believe in the blockchain. We believe in decentralisation. We do not believe in centralised entities and fiat currency systems. It is with that in mind, that our goal is to generate our clients more bitcoin than they started with. Not only that, we do it whilst generating lower volatility than that exhibited by bitcoin itself.  </p>
					</div>
				</div>
			</section>
			
			<section class="howwedo content arrowed" id="strategy">
				<div class="container">
					<div class="home-howwedo">
						<h2>WE OUTPERFORM BITCOIN,<br/>AND WE DO IT WITH LESS RISK.</h2>
						
						<p>We blend investment strategies to improve the efficiency frontier of the fund. That means, we generate higher returns per unit of risk than that of Bitcoin.</p>
						<p class="readon">HOW DO WE DO IT? READ ON!</p>
						<p>We blend different investment strategies to improve the efficiency frontief of the fund. That means, we generate higher returns per unit of risk than that of Bitcoin. </p>
					</div>
			</section>
			
			
			<section class="content arrowed">
				<div class="container">
					<div class="home-management">
						<h2>INVESTMENT MANAGEMENT PROCESS</h2>
						<hr class="redline"/>
						<p>Benchmarked to bitcoin, any position held within the fund which is not bitcoin is an active position. Every active position is taken with a view to it generating a higher return than that of simply holding bitcoin. </p>
						<p>Alphabit generates excess returns over beta (bitcoin market return) via a number of different ways. </p>
					</div>
					
					<div class="investment-process ">
					
					
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
		  <h4 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" href="#collapse0" aria-expanded="false" aria-controls="collapseOne">
			  MANUAL TRADING
			</a>
		  </h4>
		</div>
		<div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		  <div class="panel-body">
			<a class="close-panel" role="button" data-toggle="collapse" href="#collapse0" ><span class="glyphicon glyphicon-remove-circle"></a>
			<div class="inner-content">
				<h3>MANUAL TRADING</h3>
				<p>Manual trading is what Alphabit does, day in, day out buying and selling altcoins with a view to generating strong returns. These positions maybe strategic, longer term plays and stay in the portfolio overweight for a prolonged period of time, or may be traded, buy in one day, and sell out the next day in order to capitalize on the favourable volatility of a token relative to bitcoin. </p>
			</div>
		  </div>
		</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseOne">
          ALGORITHMIC TRADING
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
		<a class="close-panel" role="button" data-toggle="collapse" href="#collapse1" ><span class="glyphicon glyphicon-remove-circle"></a>
        <div class="inner-content">
			<h3>ALGORITHMIC TRADING</h3>
			<p>Algo-trading generates alpha for the company broadly through two main avenues. The first is by arbitraging varying prices across various different exchanges. We use arbitrage across Kraken, Bittrex, Coinfloor, and Gemini. </p>
			<p>Our Algo’s also generate excess returns through market making a specific token, buying and selling at differing prices on one exchange giving volume to the token in question. </p>
		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a  class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-controls="collapseTwo">
          TOKENISED STARTUP INVESTMENTS
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<a class="close-panel" data-toggle="collapse" href="#collapse2"><span class="glyphicon glyphicon-remove-circle"></a>
        <div class="inner-content">
			<h3>TOKENISED STARTUP INVESTMENTS</h3>
			<p>Alphabit has a team of highly experienced cryptographic currency investors. We scour the whole of the playing field to identify great companies, great teams, and profitable business models. Once these opportunities are identified, then we take a position, always at the most favourable terms for any investor within the company.  Examples of investments to date are SKY Coin, MetalPay, Nukleus Vision, Aelf, Data, VideoCoin, and more. </p>
			<p class="investment-logos"><img src="images/skycoin.jpg" /> <img src="images/metal.jpg" /> <img src="images/nukleus.jpg" /> <img src="images/aelf.jpg" /> <img src="images/data.jpg" /> <img src="images/videocoin.jpg" /></p>
		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
          FUTURES
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
		<a class="close-panel" data-toggle="collapse" href="#collapse3"><span class="glyphicon glyphicon-remove-circle"></a>
		<div class="inner-content">
			<h3>FUTURES</h3>
			<p>Alphabit uses futures positions through the CME to hedge the portfolio position, and reduce downside volatility of the portfolio itseslf. The fund has the mandate to either buy or sell positions, so the fund may increase/decrease its leverage should it wish by up to 2.5X of the portfolio allocation to the Futures account. </p>
		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
	
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">
          CASH MANAGEMENT
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
		<a class="close-panel" data-toggle="collapse" href="#collapse4"><span class="glyphicon glyphicon-remove-circle"></a>
        <div class="inner-content">
			<h3>CASH MANAGEMENT</h3>
			<p>Alphabit uses cash to dampen the volatility of the portfolio from time to time. The fund has a mandate to go up to 50% cash should it wish, further adding downside protection for its limited partners. </p>
		</div>
      </div>
    </div>
  </div>
</div>
		
					
					</div>
					
			</section>
			
			<section class="members arrowed" id="members">
				<div class="content container">
					<div class="home-members">
						<h2>TEAM MEMBERS</h2>
						<hr class="whiteline"/>
						<div class="members-wrap">
							<div class="flexslider">
							  <ul class="slides">
							  
							  {{ range .Site.Data.teammembers }}
								<li>
								  <div>
									<a href="#" data-value="{}" data-name="{{ .name }}" data-position="{{ .position }}" data-email="{{ .email }}" data-mobile="{{ .mobile_number }}" data-office="{{ .office_number }}" data-about="{{ .about }}" class="member-showInfo">
										<img src="{{ .Site.BaseURL }}{{ .image }}" class="img-circle"/>
										<h4 class="name">{{ .name }}</h4>
										<h5 class="position">{{ .position }}</h5>
									</a>
								  </div>
								</li>
							  {{ end }}
							  </ul>
							</div>
						</div>
						


						
					</div>
				</div>
				
				<div class="member-info" id="member-info">
					<a class="close-member" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a>
					<div class="container content">
						<div class="member-info-img">
							<div class="img-wrap">
								<img src="{{ .Site.BaseURL }}images/liam-robertson.jpg" class="info-picture img-circle img-responsive"/>
							</div>
							<div class="name-wrap">
								<h3><span class="info-name">LIAM ROBERTSON</span> / <span class="info-position">Chief Executive Officer</span></h3>
								<p><span class="info-email">LIAM@ALPHABIT.FUND</span></p>
								<p>M: <span class="info-mobile">000.000.0000</span>  /  O: <span class="info-office">000.000.0000</span></p>
							</div>
						</div>
						<div class="info-about">
							<p>Chartered Financial Analyst (CFA) and Chartered Alternative Investment Analyst (CAIA), Liam holds a degree in Economics from the University of Newcastle-Upon-Tyne. He also holds a Masters in Finance from the University of Durham.</p>
							
							<p>Starting as a Portfolio Manager for UK-based IFA company, Liam quickly moved up to Analyst at a London-based Fund of Investment Trusts. </p>
							
							<p>He has sat on the Yen desk for Light Peak Capital and a Hedge Fund, successfully trading Euros, Yen and Dollar Yen. After successfully increasing his book ve-fold in 18 months, he moved back to private client wealth management.</p>
						</div>	
					</div>
				</div>
			</section>
			
	</div>
